@model Test.Domain.ViewModel.NotesViewModel

@{
    ViewData["Title"] = "Создание пользователя";
}


<div class="card col-md-12">
    <form asp-action="CreateUser" asp-controller="Home" method="post">
        <div asp-validation-summary="All" style="font-size:23px; font-family:Impact" class="text-danger text-center"></div>
        <div class="mb-3">
            <label class="form-label">Имя</label>
            <input type="text" asp-for="Name" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-label">Фамилия</label>
            <input type="text" asp-for="Surname" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-label">Номер</label>
            <input type="text" asp-for="Phone" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-label">Адрес</label>
            <input type="text" asp-for="Address" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-label">Iban</label>
            <input type="text" asp-for="Iban" class="form-control" />
        </div>
        <div>
            <button class="btn btn-primary float-right" type="submit">Отправить</button>
        </div>
    </form>
</div>